<div class="maincontainer">
    <div class="text">
        <img class="picture" src="/assets/image/web-coding.png" alt="img">
        Skills & <span class="text1">
            Abilities
        </span>
    </div>
    <!-- <div class="iconset">
        <div class="icon">
            <img class="htmlicon" src="/assets/image/html.png" alt="html">
            <p class="captionhtml">Html</p>
        </div>
        <div class="icon">
            <img class="htmlicon" src="/assets/image/css-3.png" alt="css">
            <p class="captionhtml">Css</p>
        </div>
        <div class="icon">
            <img class="htmlicon " src="/assets/image/js.png" alt="js">
            <p class="captionhtml">JavaScript</p>
        </div>
        <div class="icon">
            <img class="htmlicon" src="/assets/image/icons8-firebase-48.png" alt="firebase">
            <p class="captionhtml">Firebase</p>
        </div>
        <div class="icon">
            <img class="htmlicon " src="/assets/image/icons8-git-48.png" alt="git">
            <p class="captionhtml">Git</p>
        </div>
        <div class="icon">
            <img class="htmlicon" src="/assets/image/angular logo.png" alt="angular">
            <p class="captionhtml">Angular</p>
        </div>
        <div class=" icon">
            <img class="htmlicon " src="/assets/image/typscript logo.png" alt="typscript">
            <p class="captionhtml">TypeScript</p>
        </div>
    </div> -->
    <div class="row iconset">
        <div class="col-md-3">
            <div class="icon">
                <img class="htmlicon" src="/assets/image/html.png" alt="html">
                <p class="captionhtml">Html</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="icon">
                <img class="htmlicon" src="/assets/image/css-3.png" alt="css">
                <p class="captionhtml">Css</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="icon">
                <img class="htmlicon " src="/assets/image/js.png" alt="js">
                <p class="captionhtml">JavaScript</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="icon">
                <img class="htmlicon" src="/assets/image/icons8-firebase-48.png" alt="firebase">
                <p class="captionhtml">Firebase</p>
            </div>
        </div>
        <div class="icon1">
        <div class="col-md-3">
            <div class="icon">
                <img class="htmlicon " src="/assets/image/icons8-git-48.png" alt="git">
                <p class="captionhtml">Git</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="icon">
                <img class="htmlicon" src="/assets/image/angular logo.png" alt="angular">
                <p class="captionhtml">Angular</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class=" icon ">
                <img class="htmlicon " src="/assets/image/typscript logo.png" alt="typscript">
                <p class="captionhtml">TypeScript</p>
            </div>
        </div>
        </div>
        
    </div>
</div>