<div class="main">
    <div class="main-header">
        <app-header></app-header>
    </div>
    <div class="submenu">
        <div id="home" class="menulist">
            <app-home></app-home>
        </div>
        <div id="about" class="menulist">
            <app-about></app-about>
        </div>
        <div id="skill" class="menulist">
            <app-skill></app-skill>
        </div>
        <div id="education" class="menulist">
            <app-education></app-education>
        </div>
        <div id="contact" class="menulist">
            <app-contact></app-contact>
        </div>
    </div>
</div>

